// *colors

$accent-color: #FFA800;
$alarm-color: #ce3232;
$accept-color:#057e05;
$accent-color-5-percents: #FFA8000D;
$black: #171717;
$dark: #232141;
$white: #ffffff;
$gray: #494949;
$lightGray: #EEEEEE;
$shadows-black: rgba(20, 20, 20, 0.1);

// *sizes

$manual-padding: 25px;
$padding-for-page-component: 25px 125px;
$padding-for-inputs: 15px 25px;
$padding-for-buttons: 10px 25px;
$gap-between-connected-elements: 25px;
$gap-between-not-connected-elements: 50px;
$gap-between-closely-placed-elements: 15px;
$small-gap: 5px;
