.MainContactForm {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  padding: 25px 125px;
  column-gap: 25px;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 90vh;
  background-color: #FFA800;
  box-shadow: rgba(20, 20, 20, 0.1);
  margin-top: 75px;
  position: relative;
}
.MainContactForm:before {
  content: "";
  height: 50px;
  width: 100%;
  position: absolute;
  top: -49px;
  left: 0;
  right: 0;
  background: #FFA800;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
}
.MainContactForm .ContactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  background: #ffffff;
  border-radius: 10px;
  padding: 25px;
  gap: 25px;
}
.MainContactForm .ContactInfo .infoMail {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #232141;
  column-gap: 25px;
}
.MainContactForm .ContactInfo .infoMail .imgMail {
  width: 35px;
  height: 26px;
}
.MainContactForm .ContactInfo .infoPhone {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #232141;
  column-gap: 25px;
}
.MainContactForm .ContactInfo .infoPhone .imgPhone {
  width: 35px;
  height: 34px;
}
.MainContactForm .ContactInfo .infoTag {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #232141;
  column-gap: 25px;
}
.MainContactForm .ContactInfo .infoTag .imgTag {
  width: 35px;
  height: 35px;
}
.MainContactForm .ContactForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  background: #ffffff;
  border-radius: 10px;
  gap: 25px;
  padding: 25px;
}
.MainContactForm .ContactForm .headlineGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.MainContactForm .ContactForm .headlineGroup .h2 {
  color: #232141;
}
.MainContactForm .ContactForm .form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}
.MainContactForm .ContactForm .form .inputGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}
.MainContactForm .ContactForm .form .inputGroup .alarm {
  color: #ce3232;
  min-height: calc((10px + 0.3vw) * 1.2);
}
.MainContactForm .ContactForm .form .inputGroup .alarmGreen {
  color: #057e05;
}
.MainContactForm .ContactForm .form .inputGroup .input {
  width: 100%;
  color: #232141;
  box-shadow: rgba(20, 20, 20, 0.1);
  border-radius: 5px;
  border: none;
  padding: 15px 25px;
  outline: none;
}
.MainContactForm .ContactForm .form .inputGroup .textarea {
  color: #232141;
  box-shadow: rgba(20, 20, 20, 0.1);
  border-radius: 5px;
  border: none;
  padding: 15px 25px;
  outline: none;
}
.MainContactForm .ContactForm .form .btn {
  padding: 10px 25px;
  gap: 15px;
  transition: transform 0.3s;
}
.MainContactForm .ContactForm .form .btn:disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: not-allowed;
}
.MainContactForm .ContactForm .form .btn:disabled:hover {
  transform: none;
}

@media screen and (min-width: 901px) and (max-width: 973px) {
  .MainContactForm .ContactForm {
    gap: 25px;
  }
}
@media screen and (max-width: 900px) {
  .MainContactForm {
    width: 100%;
    flex-direction: column;
    gap: 25px;
    padding: 25px;
  }
  .MainContactForm .ContactInfo {
    width: 100%;
  }
  .MainContactForm .ContactForm {
    width: 100%;
    height: 65%;
  }
}

/*# sourceMappingURL=contact.module.css.map */
