@import "../../../sass-config/variables";
@import "../../../sass-config/mixins";

.ContactForm {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  background: #ffffff;
  border-radius: 10px;
  gap: $gap-between-connected-elements;
  padding: $manual-padding;

  .headlineGroup {
    width: 100%;
    @include flex(flex-start, center, column);

    .h2 {
      //@extend %h2;
      color: $dark;
    }
  }


  .form {
    display: flex;
    flex-direction: column;
    gap: $gap-between-closely-placed-elements;
    width: 100%;

    .inputGroup {
      width: 100%;
      @include flex(flex-start, center, column);
      gap: $small-gap;

      .alarm {
        color: $alarm-color;
        min-height: calc((10px + .3vw) * 1.2);

        &Green {
          color: $accept-color;
        }
      }

      .input {
        //@extend %plain-text;
        width: 100%;
        color: $dark;
        box-shadow: $shadows-black;
        border-radius: 5px;
        border: none;
        padding: $padding-for-inputs;
        outline: none;
      }

      .textarea {
        //@extend %plain-text;
        color: $dark;
        box-shadow: $shadows-black;
        border-radius: 5px;
        border: none;
        padding: $padding-for-inputs;
        outline: none;
      }
    }


    .btn {
      //@extend %button-filled-with-img;
      padding: $padding-for-buttons;
      gap: $gap-between-closely-placed-elements;
      transition: transform 0.3s;

      &:disabled {
        opacity: 0.5;
        pointer-events: none;
        cursor: not-allowed;

        &:hover {
          transform: none;
        }
      }
    }
  }
}

@media screen and (min-width: 901px) and (max-width: 973px) {
  .ContactForm {
    gap: $gap-between-connected-elements;
  }
}


@media screen and (max-width: 900px) {
  .ContactForm {
    width: 100%;
    height: 65%;
  }
}