@import "../sass-config/mixins";
@import "../sass-config/variables";


.Footer {
  width: 100%;
  background: $accent-color-5-percents;
  padding: $padding-for-page-component;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: $gap-between-connected-elements;

}

.section {
  width: 100%;
  @include flex(flex-start, flex-start, column);
  gap: $gap-between-connected-elements;

}

.logo {
  height: 100px;
  width: auto;
  object-fit: contain;
}

.infoGroup {
  width: 100%;
  @include flex(flex-start, flex-start, column);
  gap: $gap-between-connected-elements;

}

.headline {
  //@extend %h3;
  color: $dark;
}

.infoItems {
  width: 100%;
  @include flex(flex-start, flex-start, column);
  gap: $gap-between-closely-placed-elements;

}

.infoItem {
  width: 100%;
  @include flex(center, flex-start, row);
  gap: $gap-between-closely-placed-elements;
  color: $black;
  text-decoration: none;
  user-select: none;
}

.itemImage {
  width: 35px;
  height: 35px;
  object-fit: contain;
  object-position: center center;
}

@media screen and (max-width: 893px) {
  .Footer {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 800px) {
  .Footer {
    padding: $manual-padding;
    margin-bottom: 75px;
  }
}

@media screen and (max-width: 576px) {
  .Footer {
    padding: $manual-padding;
  }
}
