@import "../../ui/sass-config/variables";
@import "../../ui/sass-config/mixins";

.Login {
  width: 100%;
  @include flex(flex-start, flex-start, column);
  gap: $gap-between-closely-placed-elements;

  .alarm {
    min-height: calc((11px + 0.3vw) * 1.2);
    color: $alarm-color;

    &Green {
      color: $accept-color;
    }
  }

  .inputGroup {
    width: 100%;
    @include flex(flex-start, flex-start, column);
    gap: $small-gap;

  }


  .button {
    //@extend %button-filled;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed;

      &:hover {
        transform: none;
      }
    }
  }
}

