@import "../../sass-config/variables.scss";

.HowItWork {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $gap-between-connected-elements;
  padding: $manual-padding 0;

  .tabs {
    width: 100%;
    padding: $padding-for-page-component;
    padding-top: 0;
    padding-bottom: 0;
  }

  .h2 {
    //@extend %h2;
    color: $dark;
    text-align: center;

    .info {
      width: 100%;
    }

  }
}

@media screen and (max-width: 800px) {
  .HowToUse {
    .tabs {
      padding: $manual-padding;
      padding-top: 0;
      padding-bottom: 0;
    }
  }
}