@import "../../ui/sass-config/mixins";
@import "../../ui/sass-config/variables";


.TeamSlider {
  max-width: 100vw;
  box-sizing: border-box;
  width: 100%;
  gap: 0;
  position: relative;
  overflow-y: visible;
  overflow-x: hidden;

  @include flex(center, center, column);

  .swiper-slide-active {
    .TeamMateSlide {
      height: 350px;
      opacity: 1;

      .caption {
        height: 50px;

        .caption-role {
          transition: 0.3s 0.5s ease-in;
          display: flex;
          opacity: 0.7;
        }
      }
    }
  }

  swiper-element {
    max-width: 100%;
    overflow: visible;

    .swiper.swiper-initialized.swiper-horizontal.swiper-backface-hidden {
      overflow-y: visible;
      overflow-x: hidden;
    }
  }

  .headlineGroup {
    width: 100%;
    max-width: calc(100vw - ($manual-padding * 2 + 50px));
    @include flex(center, center, column);
    gap: 5px;
    padding: 0;

    .headline {
      width: 100%;
      color: $dark;
      text-align: center;
    }

    .subHeadline {
      max-width: min(850px, 100%);
      text-align: center;
      color: $black;
      word-wrap: break-word;
    }
  }


  .wrapper {
    margin: $manual-padding;
    width: 100%;
    overflow: visible;

    .swiper {
      overflow: visible;
      display: flex;
      align-items: center;
      max-width: calc(100vw - $manual-padding * 2);

      swiper-slide {
        height: 370px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .TeamSlider {
    .headlineGroup {
      position: relative;
      left: -25px;
    }
  }
}