.buttonOutlinedWithImg, .buttonOutlined, .buttonFilledWithImg, .buttonFilled {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: none;
  text-decoration: none;
  line-height: 120%;
}

.buttonFilledWithImg, .buttonFilled {
  color: #232141;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: no-wrap;
  align-items: center;
  padding: 10px 25px;
  gap: 15px;
  background: #FFA800;
  border: 2px solid #FFA800;
  box-shadow: 0 4px 4px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  transition: transform 0.3s;
  cursor: pointer;
}
.buttonFilledWithImg:hover, .buttonFilled:hover {
  transform: translateY(-3px);
}

.buttonOutlinedWithImg, .buttonOutlined {
  color: #232141;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: no-wrap;
  padding: 10px 25px;
  gap: 10px;
  background: transparent;
  border: 2px solid #232141;
  box-shadow: 0 4px 4px rgba(23, 23, 23, 0.1);
  border-radius: 5px;
  transition: transform 0.3s;
  cursor: pointer;
}
.buttonOutlinedWithImg:hover, .buttonOutlined:hover {
  transform: translateY(-3px);
}

.textBigBold {
  font-size: 15px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: none;
  text-decoration: none;
  line-height: 120%;
}

.textBig {
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: none;
  text-decoration: none;
  line-height: 120%;
}

.textBiggerBold {
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: none;
  text-decoration: none;
  line-height: 120%;
}

.textBigger {
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: none;
  text-decoration: none;
  line-height: 120%;
}

.textBold {
  font-size: calc(10px + 0.3vw);
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: none;
  text-decoration: none;
  line-height: 120%;
}

.textSubheadline {
  font-size: calc(12px + 0.5vw);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: none;
  text-decoration: none;
  line-height: 120%;
}

.textH1 {
  font-size: calc(35px + 2.7vw);
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 120%;
}

.textH2 {
  font-size: calc(19px + 1.2vw);
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 120%;
}

.texthH3 {
  font-size: calc(18px + 0.8vw);
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 120%;
}

.textH4 {
  font-size: calc(13px + 0.8vw);
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 120%;
}

.textH5 {
  font-size: calc(8px + 0.5vw);
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 120%;
}

.textH6 {
  font-size: 14px;
  font-weight: 800;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 120%;
}

.textPlain {
  font-size: calc(10px + 0.3vw);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: none;
  text-decoration: none;
  line-height: 120%;
}

.textSmallSemiVisible {
  font-size: 10px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0%;
  text-transform: none;
  text-decoration: none;
  line-height: 120%;
}

.buttonFilledWithImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: no-wrap;
}
.buttonFilledWithImg img {
  height: 25px;
  width: 25px;
  object-fit: contain;
}

.buttonOutlinedWithImg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: no-wrap;
}

/*# sourceMappingURL=ui-components.module.css.map */
